汽车之家/Web References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LinkInfo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UserType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SendOrder" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Query" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="News" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DueTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LastAllotTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastQuoteTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastNewsTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="QueryNum" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NewsNum" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Entity" />
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginResult" type="tns:UserResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="due" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserListResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateLastAllotTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastAllotTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLastAllotTimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sendOrder" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="query" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="news" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserTypeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDic">
        <s:complexType />
      </s:element>
      <s:element name="GetDicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDicResult" type="tns:ArrayOfDictionaries" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDictionaries">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Dictionaries" nillable="true" type="tns:Dictionaries" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Dictionaries">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDicByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDicByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDicByNameResult" type="tns:Dictionaries" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDicResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoginLogByLogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoginLogByLogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLoginLogByLogOutResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTasteTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTasteTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckTasteTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserDueTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dueTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserDueTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdUserDueTimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastQuoteTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastQuoteTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLastQuoteTimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastNewsTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastNewsTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLastNewsTimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJobLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="log" type="tns:JobLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JobLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UserID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="JobType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="JobTime" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddJobLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddJobLogResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelJobLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelJobLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelJobLogResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobLogByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobLogByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJobLogByUserResult" type="tns:ArrayOfJobLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJobLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JobLog" nillable="true" type="tns:JobLog" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="GetUserListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLastAllotTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLastAllotTime" />
  </wsdl:message>
  <wsdl:message name="UpdateLastAllotTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLastAllotTimeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserType" />
  </wsdl:message>
  <wsdl:message name="UpdateUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="DelUserSoapIn">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="DelUserSoapOut">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetDicSoapIn">
    <wsdl:part name="parameters" element="tns:GetDic" />
  </wsdl:message>
  <wsdl:message name="GetDicSoapOut">
    <wsdl:part name="parameters" element="tns:GetDicResponse" />
  </wsdl:message>
  <wsdl:message name="GetDicByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDicByName" />
  </wsdl:message>
  <wsdl:message name="GetDicByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDicByNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDicSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDic" />
  </wsdl:message>
  <wsdl:message name="UpdateDicSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDicResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLoginLogByLogOutSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLoginLogByLogOut" />
  </wsdl:message>
  <wsdl:message name="UpdateLoginLogByLogOutSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLoginLogByLogOutResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTasteTimeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTasteTime" />
  </wsdl:message>
  <wsdl:message name="CheckTasteTimeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTasteTimeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdUserDueTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdUserDueTime" />
  </wsdl:message>
  <wsdl:message name="UpdUserDueTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdUserDueTimeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLastQuoteTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLastQuoteTime" />
  </wsdl:message>
  <wsdl:message name="UpdateLastQuoteTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLastQuoteTimeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLastNewsTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLastNewsTime" />
  </wsdl:message>
  <wsdl:message name="UpdateLastNewsTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLastNewsTimeResponse" />
  </wsdl:message>
  <wsdl:message name="AddJobLogSoapIn">
    <wsdl:part name="parameters" element="tns:AddJobLog" />
  </wsdl:message>
  <wsdl:message name="AddJobLogSoapOut">
    <wsdl:part name="parameters" element="tns:AddJobLogResponse" />
  </wsdl:message>
  <wsdl:message name="DelJobLogSoapIn">
    <wsdl:part name="parameters" element="tns:DelJobLog" />
  </wsdl:message>
  <wsdl:message name="DelJobLogSoapOut">
    <wsdl:part name="parameters" element="tns:DelJobLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobLogByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobLogByUser" />
  </wsdl:message>
  <wsdl:message name="GetJobLogByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobLogByUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input message="tns:GetUserListSoapIn" />
      <wsdl:output message="tns:GetUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastAllotTime">
      <wsdl:input message="tns:UpdateLastAllotTimeSoapIn" />
      <wsdl:output message="tns:UpdateLastAllotTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserType">
      <wsdl:input message="tns:UpdateUserTypeSoapIn" />
      <wsdl:output message="tns:UpdateUserTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input message="tns:DelUserSoapIn" />
      <wsdl:output message="tns:DelUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDic">
      <wsdl:input message="tns:GetDicSoapIn" />
      <wsdl:output message="tns:GetDicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDicByName">
      <wsdl:input message="tns:GetDicByNameSoapIn" />
      <wsdl:output message="tns:GetDicByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDic">
      <wsdl:input message="tns:UpdateDicSoapIn" />
      <wsdl:output message="tns:UpdateDicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginLogByLogOut">
      <wsdl:input message="tns:UpdateLoginLogByLogOutSoapIn" />
      <wsdl:output message="tns:UpdateLoginLogByLogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTasteTime">
      <wsdl:input message="tns:CheckTasteTimeSoapIn" />
      <wsdl:output message="tns:CheckTasteTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdUserDueTime">
      <wsdl:input message="tns:UpdUserDueTimeSoapIn" />
      <wsdl:output message="tns:UpdUserDueTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastQuoteTime">
      <wsdl:input message="tns:UpdateLastQuoteTimeSoapIn" />
      <wsdl:output message="tns:UpdateLastQuoteTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastNewsTime">
      <wsdl:input message="tns:UpdateLastNewsTimeSoapIn" />
      <wsdl:output message="tns:UpdateLastNewsTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddJobLog">
      <wsdl:input message="tns:AddJobLogSoapIn" />
      <wsdl:output message="tns:AddJobLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelJobLog">
      <wsdl:input message="tns:DelJobLogSoapIn" />
      <wsdl:output message="tns:DelJobLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobLogByUser">
      <wsdl:input message="tns:GetJobLogByUserSoapIn" />
      <wsdl:output message="tns:GetJobLogByUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastAllotTime">
      <soap:operation soapAction="http://tempuri.org/UpdateLastAllotTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserType">
      <soap:operation soapAction="http://tempuri.org/UpdateUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDic">
      <soap:operation soapAction="http://tempuri.org/GetDic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDicByName">
      <soap:operation soapAction="http://tempuri.org/GetDicByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDic">
      <soap:operation soapAction="http://tempuri.org/UpdateDic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginLogByLogOut">
      <soap:operation soapAction="http://tempuri.org/UpdateLoginLogByLogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTasteTime">
      <soap:operation soapAction="http://tempuri.org/CheckTasteTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserDueTime">
      <soap:operation soapAction="http://tempuri.org/UpdUserDueTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastQuoteTime">
      <soap:operation soapAction="http://tempuri.org/UpdateLastQuoteTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastNewsTime">
      <soap:operation soapAction="http://tempuri.org/UpdateLastNewsTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobLog">
      <soap:operation soapAction="http://tempuri.org/AddJobLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelJobLog">
      <soap:operation soapAction="http://tempuri.org/DelJobLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobLogByUser">
      <soap:operation soapAction="http://tempuri.org/GetJobLogByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap12:operation soapAction="http://tempuri.org/GetUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastAllotTime">
      <soap12:operation soapAction="http://tempuri.org/UpdateLastAllotTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserType">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap12:operation soapAction="http://tempuri.org/DelUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDic">
      <soap12:operation soapAction="http://tempuri.org/GetDic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDicByName">
      <soap12:operation soapAction="http://tempuri.org/GetDicByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDic">
      <soap12:operation soapAction="http://tempuri.org/UpdateDic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginLogByLogOut">
      <soap12:operation soapAction="http://tempuri.org/UpdateLoginLogByLogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTasteTime">
      <soap12:operation soapAction="http://tempuri.org/CheckTasteTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserDueTime">
      <soap12:operation soapAction="http://tempuri.org/UpdUserDueTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastQuoteTime">
      <soap12:operation soapAction="http://tempuri.org/UpdateLastQuoteTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastNewsTime">
      <soap12:operation soapAction="http://tempuri.org/UpdateLastNewsTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobLog">
      <soap12:operation soapAction="http://tempuri.org/AddJobLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelJobLog">
      <soap12:operation soapAction="http://tempuri.org/DelJobLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobLogByUser">
      <soap12:operation soapAction="http://tempuri.org/GetJobLogByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:32050/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:32050/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>